@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

select,input,textarea{
  border: 1px solid #5C4033;
  outline-color: #5C4033;
  border-radius: 4px;
}

.active{
  background-color: #5C4033;
  color: white;
  border-color: gray;
}